@font-face{
  font-family: Adventuresome;
  src: url('../fonts/adventuresome.ttf') format('truetype');
}

body {
  margin: 0;
  overflow: hidden;
  color: #ffffff;
  background-color: #052366;
  font-family: Adventuresome;
  line-height: 1.5;
  font-weight: 400;
}

#root {
  width: 576px;
}

img {
  cursor: pointer;
  user-drag: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
}
.nn {
  image-rendering: pixelated;
}

.state-true>img {
  filter: grayscale(100%) !important;
}

.state-true::after {
  content: '';
  position: absolute;
  right: 0em;
  bottom: 0.5em;
  width: 3em;
  height: 3em;
  background-image: url('assets/checkmark.png');
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
}

.palaces {
  position: relative;
  top: 8px;
  left: 8px;
  margin-bottom: 4px;
}
.palaces .checkoff-img {
  display: inline-block;
  height: 4.8em;
}
.pillar {
  height: 4em;
  cursor: default;
}

.overworld {
  position: relative;
  margin-top: 8px;
}
.overworld-wrap {
  margin: 0 0px;
  width: 580px;
  display: flex;
  flex-wrap: wrap;
}
.checkoff {
  position: relative;
  display: inline-block;
}
.palaces .checkoff {
  margin: 0 4px;
  flex: 1;
}
.overworld .checkoff-img {
  margin: 4px 4px;
  width: 88px;
  aspect-ratio: 16 / 13;
}
.checkoff-img {
  width: 100%;
  display: block;
}
.overlay-text {
  position: absolute;
  left: 7px;
  top: 4px;
  height: 24px;
  font-size: 8px;
  filter: drop-shadow(0px 1px #4240ff) drop-shadow(1px 0px #4240ff);
  pointer-events: none;
}

.overlay-img {
  position: absolute;
  right: 7px;
  bottom: 4px;
  height: 28px;
  pointer-events: none;
}

.overworld-continent-title {
  margin: 4px 4px;
  width: 115px;
  align-self: center;
  font-size: 10px;
  text-align: center;
  color: #000;
}

.overworld-continent-group {
  position: absolute;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5);
}

.overworld-continent-group.west {
  top: 0px;
  left: 0px;
  width: 574px;
  height: 136px;
}

.overworld-continent-group.east {
  top: 136px;
  left: 0px;
  width: 574px;
  height: 136px;
  background-color: rgba(160, 160, 160, 0.7);
}

.overworld-continent-group.dm {
  top: 272px;
  left: 0px;
  width: 287px;
  height: 68px;
  background-color: rgb(153 78 0);
}

.overworld-continent-group.mi {
  top: 272px;
  left: 287px;
  width: 287px;
  height: 68px;
  background-color: rgb(188 190 0);
}

.buttons {
  margin: 16px;
  width: 100%;
  display: flex;
  gap: 16px;
}

